<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PI Club - {{ title }}</title>
<link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>
<body>
  <main>
    <header>
      <span id="pi-club">Pi Club</span>
      <span id="title">[ {{ title }} ]</span>
    </header>
    <article>
      {{content | safe}}
    </article>
  </main>
</body>
</html>